html, body {
    background-color: #1777bd;
    margin: 0;
}

main {
    padding: 10px 0;
    margin: 40px auto 0 auto;
    width: 60%;
    background-color: #fff;
}

a {
    color: #57c9ff;
}

button {
    color: #fff;
    background-color: #0d579b;
    border-radius: 2px;
    padding: 2px;
    border: 0;
}

img {
    margin: 3px;
    width: 80%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    text-align: center;
}

header button {
    margin: 0;
    padding: 5px 25px;
    border-radius: 0 4px 4px 0;
}

header input {
    width: 30%;
    border: 1px solid #e6e6e6;
    margin: 5px -5px 0 0;
    padding: 4px 10px;
}

header img {
    float: left;
    width: 40px;
}

header img + img {
    float: right;
}


main .profile_icon {
    float: left;
}

.profile_icon {
    width: 30px;
}

.date {
    color: #8d8d87;
    float: right;
}

.flex-container div {
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.flex-container p ~ button {
    float: left;
}


#login_icon {
    width: 100px;
}

.thumbs_up {
    width: 10px;
    height: 10px;
}
