* {
    font-family: 'Georgia', sans-serif;
}

html, body {
    background-color: #1777bd;
    margin: 0;
}

main {
    padding: 10px 0;
    margin: 40px auto 0 auto;
    width: 55%;
    background-color: #fff;
}

a {
    color: #57c9ff;
}

button {
    color: #fff;
    background-color: #0d579b;
    border-radius: 2px;
    padding: 2px;
    border: 0;
}

img {
    width: 100%;
}

.thumbs_up {
    width: 11px;
    height: 14px;
    padding: 2px 10px 0;
}

.profile_icon {
    padding: 10px;
    width: 27px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    text-align: center;
}

header button {
    padding: 5px 25px;
    border-radius: 0 4px 4px 0;
}

header input {
    width: 30%;
    margin: 7px -5px 0 0;
    padding: 4px 10px;
    border: 1px #e6e6e6 solid;
    border-radius: 3px;
}

header img {
    width: 35px;
    margin: 5px 0 5px 15px;
    float: left;
}

header img:nth-child(2){
    padding: 0;
    margin: 8px 7px 0 0;
    float: right;
}

.flex-container div {
    margin: 20px auto;
    width: 75%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.flex-container p ~ button {
    margin-left: 7px;
    margin-bottom: 13px;
    border-radius: 3px;
}

main .profile_icon {
    float: left;
}

.date {
    padding-top: 5px;
    padding-right: 5px;
    margin-top: 5px;
    color: #8d8d87;
    float: right;
    font-size: 80%;
}

.text {
    padding-left: 5px;
    padding-right: 5px;
}

.text_without_picture {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}


#login {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 450px;
    width: 32%;
    min-height: 600px;
    height: 58%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-size: 1.5em;
}

#login_icon {
    position: absolute;
    display: flex;
    width: 130px;
}

#login > img + p {
    padding-top: 70px;
}

#login p {
    padding: 10px;
    margin: 15px;
}

#login input {
    display: block;
    width: 45%;
    margin: 15px auto;
    padding: 12px;
    font-size: .8em;
}

#login input[type=email], input[type=password] {
    text-indent: 10px;
    border: 2px solid #8c8c8c;
    border-radius: 3px;
}

#login input[type=submit] {
    border: none;
    margin-top: 10px;
    padding: 10px;
    width: 15%;
    color: white;
    background-color: #0d569b;
    border-radius: 7px;
}