html, body {
	font-family: 'Georgia', sans-serif;
    background-color: #1777bd;
    margin: 0;
}

main {
    padding: 10px 0;
    margin: 40px auto 0 auto;
    width: 60%;
    background-color: #fff;
}

a {
    color: #57c9ff;
}

button {
    color: #fff;
    background-color: #0d579b;
    border-radius: 2px;
    padding: 2px;
    border: 0;
    font-size: 75%
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    text-align: center;
}

header button {
    padding: 5px 25px;
    border-radius: 0 4px 4px 0;
}

header input {
    width: 30%;
    border: 1px solid #e6e6e6;
    margin: 7px -5px 0 0;
    padding: 4px 10px;
}

header img {
    width: 35px;
    margin: 5px 0 5px 15px;
    float: left;
}

header img + img {
    margin: 8px 7px 0 0;
    float: right;
}


.thumbs_up {
    width: 12px;
    height: 10px;
}

.profile_icon {
    width: 27px;
}

main .profile_icon {
    float: left;
}

.date {
    color: #8d8d87;
    float: right;
    font-size: 80%
}

.flex-container div {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.flex-container p ~ button {
    float: left;
}

.flex-container .post_img {
    margin-left: -20px;
    width: 112%;
}


#login_icon {
	display: flex;
    width: 130px;
}

#login {

    position: absolute;
    text-align: center;
    width: 32%;
    height: 58%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

/*
Is quite a mess, but it does the job for this homework task I guess. Indrek.
*/

#login_text {
	margin-top: -70px;
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 25px;
}

#login_text p{
	padding: 5px;
	margin: 15px;
}

#login_text p + a{
	font-size: 80%;
}

#login_text a + p{
	font-size: 80%;
	font-weight: normal;
}

input {
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 3px;
	border-width: 1px;
	border-style: outset;
	text-align: center;
	width: 60%;
	margin: 5px;
	padding: 15px;
}

input[type=submit] {
	padding: 5px;
	width: 50%;
	margin: 15px;
	margin-bottom: 5px;
	background-color: #0d569b;
	color: white;
	font-weight: bold;
	font-size: large;
}

input[type=text]{
	text-align: left;
	text-indent: 5px;
}
